out/
rnd/
wip/
gui/ProcFS.app/
gui/ProcFS.prefPane/
test/test_mount
test/test_readdir
test/test_getdents
test/test_getdents_multi
tools/procfs_ksyms
tools/procfsd
**/*.dSYM
**/.DS_Store
.DS_Store
**/*.kext
**/*.kext.dsym
*.kext
**/*.o
*.o
**/Info.plist~
Info.plist~
**/*/*.a
*.log
**/*.log
**/*/*.log
