out/
rnd/
wip/
gui/ProcFS.app/
gui/ProcFS.prefPane/
gui/Uninstall-ProcFS.app/
gui/AppIcon.icns
gui/AppIcon.iconset/
tests/test_*
tools/procfsd
**/*.dSYM
**/.DS_Store
.DS_Store
**/*.kext
**/*.kext.dsym
*.kext
**/*.o
*.o
**/Info.plist~
Info.plist~
**/*/*.a
*.log
**/*.log
**/*/*.log
*.tmp
**/*.tmp

